@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
}

.wrapper_container{
  /* display: flex;
  flex-direction: column;
  min-height: 100%; */
}


/* _____________HEADER_________________ */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.wrapper_container {
  /* max-width: 1180px; */
  margin: 0 auto;


}
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0px 20px;
  background: #000;

}
.header_logo {
  flex: 0 0 100px;
  z-index: 3;
}
.header_logo img{
  max-width: 100%;
}
.header_logo {
}
.header_burger {
  display: none;
}
.header_menu {
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
  
}
.header_list li{
  list-style: none;
  margin: 0px 0px 0px 20px;

}
.header_link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.header_link:hover {
 text-decoration: underline;
 
}

@media (max-width:767px) {
  body.lock{
    overflow: hidden;
  }
  .header_link{
    font-size: 25px;
  }
  .header_logo{
    flex: 0 0 90px;
  }
  .header_burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header_burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after{
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before{
    top: 0;
  }
  .header_burger:after{
    bottom: 0;
  }
  .header_burger.active::before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active span{
    transform: scale(0);
  }
  .header_menu{
    position: fixed;
    top: -200%; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 125px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header_menu.active{
    top: 0;
  }
  .header_list{
    display: block;
  }
  .header_list li{
    margin:0px 0px 30px 0px ;
    cursor: pointer;
  }
  .header_link{
    color: #000;
  }
}
@media (max-width:600px) {
.header_logo{
  flex: 0 0 70px;
}
}
/* _____________BOOKING_BUTTON_________________ */
.booking_section{
  background-image: url(image/bg_3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking_button a{
 padding: 10px 30px;
 border-radius: 20px;
 font-size: 18px;
 text-transform: uppercase;
 border: 1px solid #fff;
 background-color: #000;
 color: #fff;
 cursor: pointer;
 text-decoration: none;
}
.booking_button a:hover{
 background-color: rgba(255, 255, 255, 0.8);
 color: #000;
 transition: all 0.3s ease 0s;
}
@media (max-width:767px) {
.booking_section{
  height: 500px;
}
}
@media (max-width:420px) {
.booking_section{
  height: 450px;
}
}

/* _____________ABOUT_ME_________________ */

.about_me {
  max-width: 1180px;
  margin: auto;
}
.about_me h1{
  text-align: center;
  margin: 70px 0px 0px 0px;
}
.about_me_container {


}
.about_me_block {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.about_me_image {
  
}
.about_me_image img{
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.about_me_text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  flex: 0 0 50%;
  text-align: center;
}

@media (max-width:767px) {
 .about_me h1{
  margin: 30px 0px 0px 0px;
}
 .about_me_block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}
.about_me_image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.about_me_text {
  font-size: 16px;
  text-align: center;
}

}


/* _____________QUOTE_BLOCK_________________ */

.quote_block {
  background-image: url(image/quot_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.quote_container {
}
.quote_text {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
@media (max-width:600px) {
.quote_text{
  font-size: 16px;
  }
}
@media (max-width:420px) {
.quote_text{
  font-size: 14px;
  }
}
/* _____________PORTFOLIO_________________ */

.portfolio_container {
  max-width: 1180px;
  margin: auto;
}
.portfolio_container h2{
  text-align: center;
  margin: 60px 0px;
}
.portfolio_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #000;
  padding: 15px;

}
.portfolio_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 33.33%;
  padding: 20px 10px;
  box-sizing: border-box;
  
}
.portfolio_image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}
.portfolio_text {
}
.portfolio_button a{
 padding: 10px 30px;
 border-radius: 20px;
 font-size: 18px;
 text-transform: uppercase;
 border: 1px solid #000;
 background-color: #fff;
 color: #000;
 cursor: pointer;
 align-items: center;
 text-decoration: none;
}
.portfolio_button a:hover{
 background-color: #000;
 color: #fff;
 transition: all 0.3s ease 0s;
}

@media (max-width:767px) {
  .portfolio_cards{
    
  }
  .portfolio_container h2{
  margin: 40px 0px;
}
  .portfolio_card {
  flex: 0 1 50%;
  padding: 20px 10px;
}
.portfolio_image img{
  height: 350px;
}
.portfolio_container h1{
  font-size: 26px;
}
}
@media (max-width:600px) {
  .portfolio_card {
  flex: 0 1 100%;
}
.portfolio_image img{
  height: 400px;
}
}

/* _____________PRICE_BLOCK_________________ */

.price_container {
  max-width: 1180px;
  margin: 0 auto;
}
.price_container h2{
  text-align: center;
  margin: 60px 0px; 
}
.price_container{
  
}
.price_cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  
}
.price_card {
  /* flex: 1 1 33.333%; */
  width: 400px;
  padding: 15px;
  border: 1px solid black;
}
.price_image {
}
.price_image img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.price_text_block {
  
}
.price_text_block h3{
  text-align: center;
  text-transform: uppercase;
  font-style: bold;
}
.text_items {
  
}
.text_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;

}
.price_text {
}
.price_value {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price_value img{
  
}
.price {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.price_button a {
 padding: 10px 50px;
 border-radius: 20px;
 font-size: 18px;
 text-transform: uppercase;
 border: 1px solid #000;
 background-color: #fff;
 color: #000;
 cursor: pointer;
 align-items: center;
 text-decoration: none;
}
.price_button {
  margin: 30px 0px 30px 0px;
  text-align: center;
}
.price_button a:hover{
 background-color: #000;
 color: #fff;
 transition: all 0.3s ease 0s;
}

@media (max-width:1000px) {
.price_cards {
  flex-wrap: wrap;
}
.price_card {
  width: 350px;
}
  }
@media (max-width:800px) {
.price_card {
  width: 300px;
}
  }
@media (max-width:767px) {
.price_container h2{
  margin: 40px 0px; 
}
  }
  @media (max-width:700px) {
.price_card {
  width: 80%;
}
.price_button {
  margin: 30px 0px 20px 0px;
}
  }

/* _____________FOOTER_________________ */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #000;
}
.footer_text {
  font-size: 18px;
  padding: 5px 0px;
  color: #fff;
  margin: 0;
}


.footer_icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  cursor: pointer;
}
.footer_icons img {
  width: 35px;
  
}
.icon_instagram {
}
.icon_facebook {
}
.icon_mail {
  
}
@media (max-width:767px){
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_icons{
    padding: 0px 0px 5px 0px;
  }
  .footer_text p{
   margin: 0;
   padding: 5px 0px;
}
.footer_text{
  font-size: 16px;
}
}




